*{
    margin: 0;    /* get rid of default styling*/
    padding: 0;
    font-family: 'Open Sans',sans-serif; /* 'if this falls' , this font will be displayed */
}
body{
    background: #81b6fc;
}
.hover:hover{
    background: #5989f1;
}
/*
.mynav{
    position: fixed;
    z-index: 1;
    max-width: 100%;
    display: block;
}
*/
/* ---------------------  OPERATIONS  ------------------------- */
.op-container{
    position: relative;
    margin: 10px auto;
    max-width: 800px;
    background: #bbbbbb
    
}
.h-container{
    position: relative;
    top: 10px;
    max-width: 1000px;
    max-height: 500px;
    margin: 20px auto;
}

.h-filters{
    
    position: relative;
    top: 10px;
    max-width: 1000px;
    max-height: 500px;
    margin: 20px auto;
    display: inline-block;
}
.h-log{
    display: inline-block;
    vertical-align:top;
    position: relative;
    top: 10px;
    max-width: 1000px;
    max-height: 500px;
    margin: 20px 100px;
}
h4{
    position: relative;
    width: 70%;
    margin: 3px 50%;
    text-shadow: 10px;
}
.op-p{
    position: relative;
    width: 70%;
    margin: 3px 51%;
}
.op-input{
    
    position: relative;
    width: 50%;
    margin: 3px 30%;
}
.op-input:focus{
    
    border: 1px solid rgb(44, 55, 212);
    background: #e2edfc
}
.op-btnContainer{
    
    padding: 15px 8px;
}

/* ---------------------  TRIPS  ------------------------- */

.tr-button{
    width: 30%;
    margin-left:  30%;
    margin-right: 30%;
    -webkit-transition: width 2s; /* Safari */
     transition: width 2s;
    
}
.tr-button:hover{
    width: 40%;
}
.tr-forback{
    margin-top:    10px;
    margin-bottom: 10px;
}

.tr-img{
  /*  border-radius: 100%; */
    opacity: 1.0;
    
}
.tr-img:hover{
    opacity: 0.8;
}

/* -------------------- ABOUT ---------------------------- */

.ab-container{
   /* display: inline; */
    float: right;
    margin-top:   5px;
    margin-right: 5px;
}

/*------------------- BOOK --------------------------------*/

.b-form{
    width: 800px;
    margin: auto;
}
/*
.t-trip{
    opacity: 1.0;
}
.t-trip:hover{
    opacity: 0.9;
}
*/